<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Animal Dashboard</title>
		<meta charset="UTF-8">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>
	<body>
		<a href="/rabbit/new">
		<ul class='nav'>
			<li>Create New Rabbit</li>
		</ul>
		</a>
		<div id="container">
			<div class="header">
				<h2>The Rabbit Pack</h2>
			</div>
			<div class="pack">
							<%
				for(i in rabbits){
				%>
					<div class="rabbit">
						<%
							var age =0; 
							if(rabbits[i].age < 10){
								age = 1;
							} else if (rabbits[i].age < 20){
								age = 2;
							} else if (rabbits[i].age < 30){
								age = 3;
							} else {
								age = 4;
							}
						%>
						<a href="/rabbit/<%= rabbits[i].id %>"><img src=<%="rabbit_"+age+".jpg"%> alt="<%= rabbits[i].id %>" width='100px' height='100px'></a>
						<form action="/rabbit/<%= rabbits[i].id %>/destroy" method="post">
							<button type='submit' class='delete'>Delete</button>
						</form>
						<form action="/rabbit/<%= rabbits[i].id %>/edit" method='get'>
							<button type='submit' class='update'>Update</button>
						</form>
					</div>
				<% 
				}
			%>
			</div>
			<div class="info">
				<p><span>Name: </span> Jose</p>
				<p><span>Gender:</span> Male</p>
				<p><span>Age: </span> 15</p>
				<p><span>Background:</span>Upon clicking a rabbit's image, it's information will be displayed here.</p>
			</div>
		</div> <!-- End Container -->
		
	</body> 
</html>